<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lifting</title>
  <link rel="stylesheet" href="http://localhost:8080/static/styles.css" />
</head>
<body>
  <header>
    <h1>My Exercise List</h1>
    <a href="/">View All Exercises</a>
    <a href="/add-anime">Add A New Exercise &#x27A2;</a>
  </header>
</body>

<main>
<div class="container">
  <% exercise.forEach(data => { %>
  <ul class="anime">
    <li><img src="<%= data.image %>" alt="<%= data.name %>" class="anime-img" /></li>
    <li>
      <h1><%= data.name %></h1>
    </li>
    <li>
      <a href="/<%= data.id %>">View Exercise &#x21DB;</a>
    </li>
  </ul>
  <% }) %>
</div>
</main>

</body>
</html>
